<%= form_with model: row,
              url: row.persisted? ? ui_abbr_abbr_typographical_path(row, locale: I18n.locale) : ui_abbr_abbr_typographicals_path(locale: I18n.locale),
              method: row.persisted? ? :patch : :post do |f| %>

  <% if row.errors.any? %>
    <div style="border: 1px solid #c00; padding: 0.75rem; margin-bottom: 1rem;">
      <ul>
        <% row.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :abbr_name %><br>
    <%= f.text_field :abbr_name, maxlength: 10, required: true %>
  </div>

  <div>
    <%= f.label :abbr_id_est %><br>
    <%= f.text_area :abbr_id_est, rows: 2 %>
  </div>

  <div>
    <%= f.label :abbr_ref_id %><br>
    <%= f.text_field :abbr_ref_id %>
  </div>

  <div>
    <%= f.label :revision %>
    <%= f.check_box :revision %>
  </div>

  <%= f.submit %>
<% end %>
