<h1>Abbr Typographical</h1>

<p>
  <%= link_to "Back", ui_abbr_abbr_typographicals_path(locale: I18n.locale) %>
  |
  <%= link_to "Edit", edit_ui_abbr_abbr_typographical_path(@row, locale: I18n.locale) %>
</p>

<dl>
  <dt>ID</dt>
  <dd><%= @row.id %></dd>

  <dt>Name</dt>
  <dd><%= @row.abbr_name %></dd>

  <dt>ID (EST)</dt>
  <dd><pre><%= @row.abbr_id_est %></pre></dd>

  <dt>Ref ID</dt>
  <dd><%= @row.abbr_ref_id %></dd>

  <dt>Revision</dt>
  <dd><%= @row.revision ? "yes" : "no" %></dd>

  <dt>Created At</dt>
  <dd><%= @row.created_at %></dd>

  <dt>Modified Date</dt>
  <dd><%= @row.modified_date %></dd>

  <dt>Modified By</dt>
  <dd><pre><%= JSON.pretty_generate(@row.modified_by || {}) rescue (@row.modified_by || {}).to_s %></pre></dd>
</dl>

