
<section class="language-block <%= entry.lang == 'pi' ? 'border-primary' : 'border-secondary' %>">
  <div class="card-body">

    <%# Entry %>
    <div class="language-badge">
      <%
        lang_labels = { 'pi' => 'Pāḷi', 'en' => 'English', 'lv' => 'Latviešu' }
        label = lang_labels[entry.lang]
        final_display = label || entry.lang.upcase
      %>
      <span><%= final_display %></span>
    </div>
    <h2> <%= entry.name %> </h2>
    <% if entry.dic_eng_tr.present? %>
      <p>Direct English-Latvian translation</p>
      <h2><%= entry.dic_eng_tr %></h2>
    <% end %>

    <%# Entry attributes %>
    <div class="vertical-space"> </div>
    <div data-controller="toggle" data-toggle-open-value="false">
      <button data-action="click->toggle#toggle" class="btn">
        <i class="cls_icon" data-toggle-target="icon"></i>
        <strong>Entry attributes</strong>
      </button>
      <div data-toggle-target="content">
<!--        <%# if entry.id.present? %><p>id: <%#= entry.id %></p><%# end %>-->
<!--        <%# if entry.fk_index_id.present? %><p>fk_index_id: <%#= entry.fk_index_id %></p><%# end %>-->
<!--        <%# if entry.lang.present? %><p>lang: <%#= entry.lang %> </p><%# end %>-->
<!--        <%# if entry.dictionary.present? %><p>dictionary: <%#= entry.dictionary %> </p><%# end %>-->
<!--        <%# if entry.entry_version.present? %><p>entry_version: <%#= entry.entry_version %> </p><%# end %>-->
<!--        <%# if entry.entry_no.present? %><p>entry_no: <%#= entry.entry_no %> </p><%# end %>-->
<!--        <%# if entry.letter.present? %><p>letter: <%#= entry.letter %> </p><%# end %>-->
<!--        <%# if entry.name.present? %><p>name: <%#= entry.name %> </p><%# end %>-->
<!--        <%# if entry.name_orig.present? %><p>name_orig: <%#= entry.name_orig %> </p><%# end %>-->
<!--        <%# if entry.dic_name.present? %><p>dic_name: <%#= entry.dic_name %> </p><%# end %>-->
<!--        <%# if entry.dic_name_orig.present? %><p>dic_name_orig: <%#= entry.dic_name_orig %> </p><%# end %>-->
<!--        <%# if entry.dic_eng_tr.present? %><p>dic_eng_tr: <%#= entry.dic_eng_tr %> </p><%# end %>-->
        <% if entry.gender.present? %><p>gender: <%= entry.gender %> </p><% end %>
        <% if entry.grammar.present? %><p>grammar: <%= entry.grammar %> </p><% end %>
        <% if entry.etymology.present? %><p>etymology: <%= entry.etymology %> </p><% end %>
        <% if entry.compare.present? %><p>compare: <%= entry.compare %> </p><% end %>
        <% if entry.compare_sanskrit.present? %><p>compare_sanskrit: <%= entry.compare_sanskrit %> </p><% end %>
        <% if entry.sanskrit.present? %><p>Sanskrit: <%= entry.sanskrit %> </p><% end %>
        <% if entry.opposite.present? %><p>opposite: <%= entry.opposite %> </p><% end %>
        <% if entry.vedic.present? %><p>Vedic: <%= entry.vedic %> </p><% end %>
        <% if entry.note.present? %><p>note: <%= entry.note %> </p><% end %>
        <% if entry.xref.present? %><p>xref: <%= entry.xref %> </p><% end %>
        <% if entry.revision.present? %><p>revision: <%= entry.revision %> </p><% end %>
        <% if entry.revision_comment.present? %><p>revision_comment: <%= entry.revision_comment %> </p><% end %>
<!--        <%# if entry.root_id.present? %><p>root_id: <%#= entry.root_id %> </p><%# end %>-->
<!--        <%# if entry.version.present? %><p>version: <%#= entry.version %> </p><%# end %>-->
<!--        <%# if entry.is_current.present? %><p>is_current: <%#= entry.is_current %> </p><%# end %>-->
<!--        <%# if entry.superseded_at.present? %><p>superseded_at: <%#= entry.superseded_at %> </p><%# end %>-->
<!--        <%# if entry.superseded_by.present? %><p>superseded_by: <%#= entry.superseded_by %> </p><%# end %>-->
<!--        <%# if entry.created_at.present? %><p>created_at: <%#= entry.created_at %> </p><%# end %>-->
        <% if entry.modified_date.present? %><p>modified_date: <%= entry.modified_date %> </p><% end %>
<!--        <%# if entry.modified_by.present? %><p>modified_by: <%#= entry.modified_by %> </p><%# end %>-->
      </div>
    </div>

    <%# References %>
    <% if entry.dic_refs.any? %>
      <div class="vertical-space"> </div>
      <div data-controller="toggle" data-toggle-open-value="false">
        <button data-action="click->toggle#toggle" class="btn">
          <i class="cls_icon" data-toggle-target="icon"></i>
          <strong>References</strong>
        </button>
        <div data-toggle-target="content">
          <% entry.dic_refs.each do |ref| %>
            <%= render 'refs', ref: ref %>
          <% end %>
        </div>
      </div>
    <% end %>

    <%# Examples %>
    <% if entry.dic_egs.any? %>
      <div class="vertical-space"> </div>
      <div data-controller="toggle" data-toggle-open-value="false">
        <button data-action="click->toggle#toggle" class="btn">
          <i class="cls_icon" data-toggle-target="icon"></i>
          <strong>Usage Examples</strong>
        </button>
        <div data-toggle-target="content">
          <% entry.dic_egs.each do |eg| %>
            <%= render 'egs', eg: eg %>
          <% end %>
        </div>
      </div>
    <% end %>

    <%# Quotes %>
    <% if entry.dic_quotes.any? %>
      <div class="vertical-space"> </div>
      <div data-controller="toggle" data-toggle-open-value="false">
        <button data-action="click->toggle#toggle" class="btn">
          <i class="cls_icon" data-toggle-target="icon"></i>
          <strong>Quotes</strong>
        </button>
        <div data-toggle-target="content">
          <% entry.dic_quotes.each do |quote| %>
            <%= render 'quotes', quote: quote %>
          <% end %>
        </div>
      </div>
    <% end %>

    <%# Notes %>
    <% if entry.dic_notes.any? %>
      <div class="vertical-space"> </div>
      <div data-controller="toggle" data-toggle-open-value="false">
        <button data-action="click->toggle#toggle" class="btn">
          <i class="cls_icon" data-toggle-target="icon"></i>
          <strong>Notes</strong>
        </button>
        <div data-toggle-target="content">
          <% entry.dic_notes.each do |note| %>
            <%= render 'notes', note: note %>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
</section>


