
  <strong>Index</strong>
  <p>id:                <%= @index.id %></p>
  <p>dictionary:        <%= @index.dictionary %></p>
  <p>entry_no:          <%= @index.entry_no %></p>
  <p>homograph:         <%= @index.homograph %></p>
  <p>homograph_no:      <%= @index.homograph_no %></p>
  <p>homograph_uuid:    <%= @index.homograph_uuid %></p>
  <p>source_file:       <%= @index.source_file %></p>
  <p>source_order:      <%= @index.source_order %></p>
  <p>xml_index_id:      <%= @index.xml_index_id %></p>
  <p>revision:          <%= @index.revision %></p>
  <p>revision_comment:  <%= @index.revision_comment %></p>
  <p>root_id:           <%= @index.root_id %></p>
  <p>version:           <%= @index.version %></p>
  <p>is_current:        <%= @index.is_current %></p>
  <p>superseded_at:     <%= @index.superseded_at %></p>
  <p>superseded_by:     <%= @index.superseded_by %></p>
  <p>created_at:        <%= @index.created_at %></p>
  <p>modified_date:     <%= @index.modified_date %></p>
  <p>modified_by:       <%= @index.modified_by %></p>


