
  <div class="vertical-space"> </div>
  <h4>Note</h4>

  <% if note.id.present? %> <p>id: <%= note.id %></p><% end %>
  <% if note.fk_index_id.present? %> <p>fk_index_id: <%= note.fk_index_id %></p><% end %>
  <% if note.fk_entry_id.present? %> <p>fk_entry_id: <%= note.fk_entry_id %></p><% end %>
  <% if note.note_no.present? %> <p>note_no: <%= note.note_no %></p><% end %>
  <% if note.note_note.present? %> <p>note_note: <%= note.note_note %></p><% end %>
  <% if note.revision.present? %> <p>revision: <%= note.revision %></p><% end %>
  <% if note.revision_comment.present? %> <p>revision_comment: <%= note.revision_comment %></p><% end %>
  <% if note.root_id.present? %> <p>root_id: <%= note.root_id %></p><% end %>
  <% if note.version.present? %> <p>version: <%= note.version %></p><% end %>
  <% if note.is_current.present? %> <p>is_current: <%= note.is_current %></p><% end %>
  <% if note.superseded_at.present? %> <p>superseded_at: <%= note.superseded_at %></p><% end %>
  <% if note.superseded_by.present? %> <p>superseded_by: <%= note.superseded_by %></p><% end %>
  <% if note.created_at.present? %> <p>created_at: <%= note.created_at %></p><% end %>
  <% if note.modified_date.present? %> <p>modified_date: <%= note.modified_date %></p><% end %>
  <% if note.modified_by.present? %> <p>modified_by: <%= note.modified_by %></p><% end %>



