
  <% @index.dic_scans.each do |scan| %>
    <p>id: <%= scan.id %> </p>
    <p>fk_index_id: <%= scan.fk_index_id %> </p>
    <p>scan_version: <%= scan.scan_version %> </p>
    <p>scan_filename: <%= scan.scan_filename %> </p>
    <p>scan_note: <%= scan.scan_note %> </p>
    <p>scan_text: <%= scan.scan_text %> </p>
    <p>scan_text_raw: <%= scan.scan_text_raw %> </p>
    <p>scan_meta: <%= scan.scan_meta %> </p>
    <p>scan_status: <%= scan.scan_status %> </p>
    <p>revision: <%= scan.revision %> </p>
    <p>revision_comment: <%= scan.revision_comment %> </p>
    <p>root_id: <%= scan.root_id %> </p>
    <p>version: <%= scan.version %> </p>
    <p>is_current: <%= scan.is_current %> </p>
    <p>superseded_at: <%= scan.superseded_at %> </p>
    <p>superseded_by: <%= scan.superseded_by %> </p>
    <p>created_at: <%= scan.created_at %> </p>
    <p>modified_date: <%= scan.modified_date %> </p>
    <p>modified_by: <%= scan.modified_by %> </p>
  <% end %>

