<%# app/views/dictionary/dic/vocab/index.html.erb %>
<div class="article-layout">

  <div class="body-light">
    <%= link_to "Home", root_path %> /
    <% if admin? %>
      <%= link_to "Admin Dashboard", admin_root_path %> /
    <% else %>
      <%= link_to "My Dashboard", account_root_path %> /
    <% end %>
    <%= link_to "Dictionary", dic_root_path %>
  </div>

  <div class="title-article-h1">
    <h1>Dictionary Search (<%= @lang.upcase %>)</h1>
  </div>
  <div class="sub-title-article-h1">
    <h6>
      Last modified:
      <% if @current_release %>
        <%= @current_release.released_at.strftime("%d %b %Y") %>
        <span class="text-muted" title="Release: <%= @current_release.number %>"></span>
      <% else %>
        Date pending
      <% end %>
    </h6>
  </div>


  <div class="lang-nav">
    <% %w[pi en lv].each do |l| %>
      <%= link_to l.upcase,
                  dic_search_indexes_path(lang: l, q: params[:q]),
                  class: ("active" if @lang == l) %>
    <% end %>
  </div>

  <%# The form stays OUTSIDE the frame so it isn't replaced %>
  <%= form_with url: dic_search_indexes_path,
                method: :get,
                data: {
                  controller: "search",             # Connects to the Stimulus controller
                  turbo_frame: "search_index_results",     # Tells Turbo where to put the results
                  turbo_action: "advance"
                } do |f| %>
    <%= f.hidden_field :lang, value: @lang %>
    <%= f.text_field :q, value: @query,
                     autocomplete: "off",
                     data: { action: "input->search#submit" } %>
  <% end %>


  <%# Only this part gets replaced by Turbo %>
  <%= turbo_frame_tag "search_index_results" do %>

    <ul class="results-list">
      <% @terms.each do |v| %>
        <div class="result-item-row">

          <%= link_to v.term, dic_entry_path(v.fk_index_id, term: v.term), data: { turbo_frame: "_top" } %>

        </div>
      <% end %>
    </ul>
  <% end %>


      <%# Only show page numbers if we aren't filtering by a specific search query %>
      <div class="pagination-box">
        <% if @query.blank? %>
          <%# window: 2 shows 2 pages around the current page %>
          <%# outer_window: 1 shows the first and last page %>
          <%= paginate @terms, window: 2, outer_window: 1 %>

          <div class="stats-text">
            Showing <strong><%= @terms.offset_value + 1 %></strong>
            - <strong><%= [@terms.offset_value + @terms.length, @terms.total_count].min %></strong>
            of <strong><%= number_with_delimiter(@terms.total_count) %></strong> words
          </div>
        <% end %>
      </div>


  </div>


</div>



