<h1>Abbreviations · Books & Periodicals</h1>

<div class="actions">
  <%= link_to "New abbreviation",
              new_ui_abbr_abbr_books_periodical_path,
              class: "btn btn-primary" %>
</div>

<table class="table table-sm table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Number</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @rows.each do |r| %>
    <tr>
      <td><strong><%= link_to r.abbr_name, ui_abbr_abbr_books_periodical_path(r) %></strong></td>
      <td><%= r.abbr_number %></td>
      <td>
        <%= link_to "Show", ui_abbr_abbr_books_periodical_path(r) %> |

        <% if Current.user %>
          <%= link_to "Edit", edit_ui_abbr_abbr_books_periodical_path(r) %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
