<h1><%= @row.abbr_name %></h1>

<dl>
  <dt>Letter</dt>
  <dd><%= @row.abbr_letter %></dd>

  <dt>Number</dt>
  <dd><%= @row.abbr_number %></dd>

  <dt>Note</dt>
  <dd><pre><%= @row.abbr_note %></pre></dd>

  <dt>Source</dt>
  <dd><pre><%= @row.abbr_source %></pre></dd>
</dl>

<% if Current.user %>
  <%= link_to "Edit", edit_ui_abbr_abbr_books_periodical_path(@row) %>
<% end %>
 |
<%= link_to "Back", ui_abbr_abbr_books_periodicals_path %>
