<%# app/views/dictionary/dic/vocab/index.html.erb %>
<div class="article-layout">
  <h1>Dictionary Search (<%= @lang.upcase %>)</h1>

  <div class="lang-nav">
    <% %w[pi en lv].each do |l| %>
      <%= link_to l.upcase, dic_vocab_index_path(lang: l, q: params[:q]),
                  class: ("active" if @lang == l) %>
    <% end %>
  </div>

  <%# The form stays OUTSIDE the frame so it isn't replaced %>
  <%= form_with url: dic_vocab_index_path, method: :get,
                data: {
                  controller: "search",             # Connects to the Stimulus controller
                  turbo_frame: "vocab_results",     # Tells Turbo where to put the results
                  turbo_action: "advance"
                } do |f| %>
    <%= f.hidden_field :lang, value: @lang %>
    <%= f.text_field :q, value: @query,
                     autocomplete: "off",
                     data: { action: "input->search#submit" } %>
  <% end %>


  <%# Only this part gets replaced by Turbo %>
  <%= turbo_frame_tag "vocab_results" do %>
    <ul class="results-list">
      <% @terms.each do |v| %>
        <li><%= link_to v.term, dic_entries_path(q: v.term, lang: v.lang), data: { turbo_frame: "_top" } %></li>
      <% end %>
    </ul>

      <%# Only show page numbers if we aren't filtering by a specific search query %>
      <div class="pagination-box">
        <% if @query.blank? %>
          <%# window: 2 shows 2 pages around the current page %>
          <%# outer_window: 1 shows the first and last page %>
          <%= paginate @terms, window: 2, outer_window: 1 %>

          <div class="stats-text">
            Showing <strong><%= @terms.offset_value + 1 %></strong>
            - <strong><%= [@terms.offset_value + @terms.length, @terms.total_count].min %></strong>
            of <strong><%= number_with_delimiter(@terms.total_count) %></strong> words
          </div>
        <% end %>
      </div>

    <% end %>
  </div>


</div>



