<tr>
  <td><%= row.abbr_letter %></td>
  <td>
    <%= link_to row.abbr_name, ui_abbr_abbr_general_term_path(row, locale: I18n.locale) %>
  </td>
  <td><%= row.abbr_lv %></td>
  <td><%= row.abbr_ref_id %></td>
  <td><%= row.revision ? "yes" : "no" %></td>
  <td><%= row.modified_date %></td>
  <td>
    <%= link_to "Edit", edit_ui_abbr_abbr_general_term_path(row, locale: I18n.locale) %>
  </td>
</tr>
